<div class="page-header">
  <h3>Region #<%= @region.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Region</dt>
      <dd><%= @region.region %></dd>

      <dt>Number of Students</dt>
      <dd><%= Student.where(region: @region.region).count %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/regions" class="btn btn-primary">
        Back
      </a>
      <a href="/regions/<%= @region.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_region/<%= @region.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<ul>
  <% Student.where(region: @region.region).each do |student| %>
    <li><a href="/students/<%= student.id %>"><%= student.name %></a></li>
  <% end %>
</ul>
